.LogInButton {
  text-align: center;
}

.Title {
  font-family: Lucida Handwriting, cursive;
  text-align: center;
  font-size: xx-large;
}

.Icon {
  width: 20%;
}

.inputField {
  border: 0.1em solid slategray;
  border-radius: 1em;
  width: 80%;
  height: 80%;
  margin: 1.5%;
}

.LookIcon {  
  height: 65%;   
}
